<div class="container">
    <app-model-selector></app-model-selector>
    <form class="example-form">
        <mat-form-field class="example-full-width">
            <mat-label>Set maximum sequence length</mat-label>
            <input matInput placeholder="256" value="256">
        </mat-form-field>
    </form>
    <div class="container">
        <button mat-raised-button color="primary">Create embeddings</button>
    </div>
</div>