<mat-tab-group mat-align-tabs="start">
    <mat-tab label="Fetch Data">
        <app-fetch-data></app-fetch-data>
    </mat-tab>
    <mat-tab label="Create Embeddings">
        <app-create-embeddings></app-create-embeddings>
    </mat-tab>
    <mat-tab label="Visualize Embeddings">
        <app-visualize-embeddings></app-visualize-embeddings>
    </mat-tab>
    <mat-tab label="Model Data">
        <app-model-data></app-model-data>
    </mat-tab>
    <mat-tab label="Explore Results">
        <app-explore-results></app-explore-results>
    </mat-tab>
</mat-tab-group>