<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="precision">
        <th mat-header-cell *matHeaderCellDef> Precision </th>
        <td mat-cell *matCellDef="let element"> {{element.precision}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="recall">
        <th mat-header-cell *matHeaderCellDef> Recall </th>
        <td mat-cell *matCellDef="let element"> {{element.recall}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="f1score">
        <th mat-header-cell *matHeaderCellDef> F1-score </th>
        <td mat-cell *matCellDef="let element"> {{element.f1score}} </td>
    </ng-container>

    <ng-container matColumnDef="support">
        <th mat-header-cell *matHeaderCellDef> Support </th>
        <td mat-cell *matCellDef="let element"> {{element.support}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>