<div class="container">
    <form class="example-form">
        <mat-form-field class="example-full-width">
            <mat-label>Set number of epochs</mat-label>
            <input matInput placeholder="100" value="100">
        </mat-form-field>
    </form>
    <form class="example-form">
        <mat-form-field class="example-full-width">
            <mat-label>Set batch size</mat-label>
            <input matInput placeholder="5" value="5">
        </mat-form-field>
    </form>
    <div class="container">
        <button mat-raised-button color="primary">Run modelling</button>
    </div>
</div>