<mat-form-field appearance="fill">
    <mat-label>Select model</mat-label>
    <mat-select>
        <mat-option *ngFor="let food of foods" [value]="food.value">
            {{food.viewValue}}
        </mat-option>
    </mat-select>
</mat-form-field>