<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="embedding">
        <th mat-header-cell *matHeaderCellDef> Embedding </th>
        <td mat-cell *matCellDef="let element"> {{element.embedding}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="model">
        <th mat-header-cell *matHeaderCellDef> Model </th>
        <td mat-cell *matCellDef="let element"> {{element.model}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="dimension">
        <th mat-header-cell *matHeaderCellDef> Embeddig Dimension </th>
        <td mat-cell *matCellDef="let element"> {{element.dimension}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="epoch">
        <th mat-header-cell *matHeaderCellDef> Epoch </th>
        <td mat-cell *matCellDef="let element"> {{element.epoch}} </td>
    </ng-container>

    <ng-container matColumnDef="max_seq_length">
        <th mat-header-cell *matHeaderCellDef> Max sequence length </th>
        <td mat-cell *matCellDef="let element"> {{element.max_seq_length}} </td>
    </ng-container>

    <ng-container matColumnDef="accuracy">
        <th mat-header-cell *matHeaderCellDef> Accuracy </th>
        <td mat-cell *matCellDef="let element"> {{element.accuracy}} </td>
    </ng-container>

    <ng-container matColumnDef="sd">
        <th mat-header-cell *matHeaderCellDef> Standard deviation </th>
        <td mat-cell *matCellDef="let element"> {{element.sd}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>