<mat-tab-group animationDuration="5ms">
    <mat-tab label="Crossvalidation Results">
        <app-crossvalidation-report-table></app-crossvalidation-report-table>
    </mat-tab>

    <mat-tab label="Classification Report">
        <app-classification-report-table></app-classification-report-table>
    </mat-tab>
    <mat-tab label="Confusion Matrices"><img src="../../../assets/confusion_matrix_albert_xxlarge.png" alt=""
            width="500" height="500">
    </mat-tab>
</mat-tab-group>