<mat-tab-group mat-align-tabs="start">
    <mat-tab label="Albert base">
        <img src="../../../assets/tsne_perplexity_30.png" alt="">
    </mat-tab>
    <mat-tab label="Albert large">
        <img src="../../../assets/tsne_model_albert_large_perplexity_30.png" alt="">
    </mat-tab>
    <mat-tab label="Albert xlarge">
        <img src="../../../assets/tsne_model_albert_xlarge_perplexity_30.png" alt="">
    </mat-tab>
    <mat-tab label="Albert xxlarge">
        <img src="../../../assets/tsne_model_albert_xxlarge_perplexity_100.png" alt="">
    </mat-tab>
</mat-tab-group>