.footer {
    background: #3f51b5;
    color: #fff;
    padding: 12px;
    font-size: 12px;
    clear: both;
    position: relative;
    /* height: 200px; */
    /* margin-top: -200px; */
    margin: 0;
}

.footnotes {
    font-size: 18px;
    font-size: small;
    line-height: 30px;
    margin: 0 0 36px;
    color: white;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 300;
    font-family: Lato,sans-serif;
    margin: 8px;
    font-style: italic;
  }