<form class="example-form">
    <mat-form-field class="example-full-width">
        <mat-label>Set number of abstracts per category to fetch</mat-label>
        <input matInput placeholder="Ex. Pizza" value="2500">
    </mat-form-field>
</form>

<app-terms-table></app-terms-table>

<div class="container">
    <button mat-raised-button color="primary">Fetch Data</button>
</div>